<h2>All Person Details fetched from Database</h2>
<hr>
<table>
    <thead>
        <tr>
            <th rowspan="2">Id</th>
            <th rowspan="2">Name</th>
            <th rowspan="2">Email</th>
            <th colspan="3">Address</th>
        </tr>
        <tr>
            <th>City</th>
            <th>State</th>
            <th>PinCode</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of persons">
            <td (click)="getPersonById(i.personId)" style="cursor:pointer; color:blue;">
                {{i.personId}}
            </td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{ i.address?.districtName }}</td>
            <td>{{ i.address?.state }}</td>
            <td>{{ i.address?.pincode }}</td>
            <td>
                <button class="btn-update" routerLink="/person/{{i.personId}}">Update</button>
            </td>
            <td>
                <button class="btn-delete" (click)="deletePerson(i.personId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<div *ngIf="selectedPerson">
    <h3>Seleected Person Details</h3>
    <p><strong>ID:</strong> {{ selectedPerson.personId }}</p>
    <p><strong>Name:</strong> {{ selectedPerson.name }}</p>
    <p><strong>Email:</strong> {{ selectedPerson.email }}</p>
    <p><strong>City:</strong> {{ selectedPerson.address?.districtName }}</p>
    <p><strong>State:</strong> {{ selectedPerson.address?.state }}</p>
    <p><strong>Pincode:</strong> {{ selectedPerson.address?.pincode }}</p>
</div>