.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 25px;
}

.form-container{
    width: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.form-group{
    margin-top: 15px;
}

.form-title{
    margin-left: 55px;
}

.label{
    display: block;
    font-weight: bold;
}

input{
    width:99%;
    padding:10px;
    margin-top:5px;
    border: 1px solid #ccc;
    border-radius:3px;
}

.btn-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 137px;
    margin-top: 10px;
}

.btn-show{
    background-color: #ffb700ff;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 10px;
    cursor: pointer;
    margin-left: 84px;
    margin-top: 10px;
}